<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/cabinet-grotesk" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/contactUs.css">
    <link rel="stylesheet" href="../../public/css/blog.css">
    <title>Testing</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">Aurum Tempus</div>
            <ul>
                <li><a href="#">Shop All</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

            <div class="icons">
                <img class="cart-icon" src="../../public/assets/shopping-bag.png" />
            </div>
        </nav>
    </header>
    <main>
        <h1 class="blogTitle">
            Our Latest Blog
        </h1>

        <div class="contactUsContainer">
            <div class="formContainer">
                <form action="" method="post">
                    <label>Name</label>
                    <input type="text" name="name" id="name">
                    <label>Email Address</label>
                    <input type="email" name="email" id="email">
                    <label>Phone</label>
                    <input type="text" name="phone" id="phone">
                    <label>Message</label>
                    <textarea name="" id="" rows="5"></textarea>

                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="contactInfoContainer">
                <h2>Need to get in touch?</h2>
                <p>Visit store:</p>
                <p class="p-divider">775, Jalan 17/29, Seksyen 17, 46400 Petaling Jaya, Selangor.</p>
                <p>Call us:</p>
                <p class="p-divider">+6012345678</p>
                <p>Mail us:</p>
                <p class="p-divider">AurumTempus@gmail.com</p>
                <p>Follow us:</p>
            </div>

        </div>
        <div class="locationImageContainer">
            <h3>Locate Us on Map</h3>
            <img src="../../public/assets/location.png" />
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Aurum Tempus. All rights reserved.</p>
    </footer>
</body>

</html>